<?xml version="1.0" encoding="UTF-8"?> 
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/muzica</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.username">proiect_pibd</property>
    <property name="hibernate.connection.password">PrOiEcT121529!</property>
    <mapping resource="pojo/Compositions.hbm.xml"/>
    <mapping resource="pojo/Composers.hbm.xml"/>
    <mapping resource="pojo/Collaborations.hbm.xml"/>
  </session-factory>
</hibernate-configuration>